h1 {
    color: purple;
}

h2 {
    Color: green;
}

body {
    background: pink;
    background:url("http://cdn.vogue.mx/uploads/images/thumbs/201323/princesas_de_disney_ariel_aurora_bella_y_bestia_bella_durmiente_rapunzel_cenicienta_blanca_nieves_macario_jimenez_david_salomon_lydia_lavin__908458233_986x.jpg");
}

Img {
    border: groove purple 10px;

}
img{width:
300px;
}

h1 {
    font-family: 'Notable', sans-serif;
}
h2:hover{
    color:purple;
}
h2{
    font-family: 'Bree Serif', serif;
}
p{
    font-family: 'Chilanka', cursive;
}
marquee{
    font-size:100px;
}

